@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.section-heading {
    color: #9ab;
    text-transform: uppercase;
    letter-spacing: .075em;
    margin-top: 0;
    margin-bottom: .76923077rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #456;
  }
  
  .section-heading h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 0.95rem;
  }
  .section-heading i {
    font-weight: 200;
    color: rgb(0,244,84);

  }