body {
  margin: 0;
  padding: 0;
  background: rgb(20,24,28);
  background: linear-gradient(0deg, rgba(20,24,28,1) 0%, rgba(32,38,46,1) 100%);
  background-repeat: no-repeat;
  display:flex; 
  flex-direction:column; 
  justify-content: center;
  height: 100%;
}


